*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #2a91d6, #579ab9, #97c7c4b8);
  height: 100vh;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.calculadora {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: 5rem repeat(5, 4rem);
    justify-content: center;

}

.calculadora .output {
    background-color: rgba(71, 71, 71, 0.75);
    color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    flex-direction: column;
    align-items: flex-end;
    padding: .2rem .4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculadora .output .second {
    font-size: 1rem;
    padding: 0.5rem 0;
    text-align: right;
}

.calculadora .output .main {
    font-size: 1rem;
    padding: 0.5rem 0;
    text-align: right;
}

.span-two {
    grid-column: span 2;
}

.calculadora button {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(219, 216, 216, 0.911);
    color: rgba(0, 0, 0, 0.979);
    font-size: 1.4rem;
    transition: all .3s ease;
    border: 1px solid rgb(0, 0, 0);
}

.redondeo_left{
  border-bottom-left-radius: 10%;
}

.redondeo_right{
    border-bottom-right-radius:10%;
}

.calculadora button:hover,
.calculadora button:active {
    cursor: pointer;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
}


















